    <!-- Here in index.html you should put only the layout that is shared among all the screens (e.g. header
    ,footer, etc.). The rest of the view specific layout will go into the html partials (check partials folder) -->

    <!-- ng-view Angular directive is where the partials will be loaded. app.js configures the $routingProvider
    where you specify which partial should be loaded when. -->
<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>

<div class="container" ng-controller="EditLabelsCtrl">
    <div class="col-md-12">
        <h2>Want to edit some labels?</h2>
        <p>Type and submit to add! Click on the label to remove it!</p>
        <div class="col-md-6">
            <h4>Your mood labels:</h4>
            <form method="GET" class="form-inline addlabelsform">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="moodLabel" placeholder="Add a mood label">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" ng-click="addLabel('mood',moodLabel)"/>
                </div>
            </form>
            <div id="addLabel-moods">
            </div>
        </div>
        <div class="col-md-6">
        <h4>Your genre labels:</h4>
            <form method="GET" class="form-inline addlabelsform">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="genreLabel" placeholder="Add a genre label">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" ng-click="addLabel('genre',genreLabel)"/>
                </div>
            </form>
            <div id="addLabel-genres">
            </div>
        </div>
    </div>
</div>