<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>
<div class="container">
	<h2>Need help? You've come to the right place!</h2>
	<div class="col-md-8">
		<h4>General Q&A</h4>
		<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseOne">
			          What is this?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>This is a Spotify playlist manager that helps you organize your playlists by labeling them in terms of mood and genre, as well as keywords of your choise. You can add your own labels under the "edit labels" section.</p>
			        <p>The application also suggests playlists that we think might be of interest to you! Happy labeling!</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseTwo">
			          How to add labels
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>The first page you see when you start the application is a list of all the playlists that you have created or followed. Click on one of the lists and enter the EDIT view! From here you can start adding a mood/genre label as well as some keywords to your playlist. You can also play songs from the playlist here, and you can also follow/unfollow the playlist from here.</p>
			        <p>Once you have added labels or keywords to a playlist it will be indicated by a small yellow circle below the playlist in the search view.</p>
			        <img class="helpPicture" src="img/Help2.png">
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseThree">
			          How to filter playlists
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>The top of the search view displays your labels as well as a input field for keywords. Click on the labels to view your playlists that have been labeled with the corresponding labels, or enter a keyword in the keyword-field. </p>
			      	<p>If you don’t have any playlists with a corresponding label/keyword, don’t worry! The application will suggest some relevant playlists for you. Feel free to go ahead and follow one of them.</p>
			      	 <img class="helpPicture" src="img/Help3.png">
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			         data-target="#collapseFour">
			          How to edit labels
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>When you enter the application for the first time we provide you with a set of default labels. But maybe you’re only into metal and rock? Well, thankfully you can add your own labels and remove the ones you don’t need. Just go into the EDIT LABELS-view. Type and click submit to add a new label or click on any of the labels to remove it. Easy peasy!</p>
			      	<img class="helpPicture" src="img/Help4.png">

			      </div>
			    </div>
			  </div>

			</div>

	</div>


	<div class="col-md-4">
		<form action="" method="post" class="STYLE-NAME">
		<h4>Contact Us</h4>
		<span>If you have any question or suggestion about this application, please feel free to email us.</span>
		<hr>
		<label>
			<span>Mikael Juntti<span>
			<br>
			<a ng-href="mjuntti@kth.se">mjuntti@kth.se</a>
		</label>
		<hr>
		<label>
			<span>Yingjie Liang<span>
			<br>
			<a ng-href="yingjiel@kth.se">yingjiel@kth.se</a>
		</label>
		<hr>
		<label>
			<span>Ziying Zhang<span>
			<br>
			<a ng-href="ziying@kth.se">ziying@kth.se</a>
		</label>
		</form>
	</div>
</div>