<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>
<div class="container">
	<h2>Help of PlaylistManager App</h2>
	<div class="col-md-8">
		<h4>General Q&A</h4>
		<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseOne">
			          What's the App?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>PlaylistManager is a web application helping you manage your playlists in Spotify. </p>
			        <p>It provides different types of labels to sort your  existing playlists and discover more similar playlists from all playlists in Spotify.</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseTwo">
			          How to use the filter?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>We provide three kinds of filters to help you find playlists you want to listen now quickly: mood, genre and your own keywords</p>
			        <p>Both mood and genre labels list are showed in the homepage and you can click to choose one as a filter option. Some popular labels are showed as WordCloud and the size of the word is related with its popularity.</p>
			        <p>If the labels can't satisfy your need, you can input your own keyword to search.</p>
			        <p>Clicking "Clear option" button, all options in filter will be removed.</p>
			        <img class="helpPicture" src="img/Help2.png">
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseThree">
			          What's the meaning of yellow circle sign below some playlists?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>All playlists which have been edited in this web application show a yellow circle sign to help you distingwish.</p>
			      	<p>And don't fotget that moving the mouse on a playlist picture, it can show you the basic information of it.</p>
			      	 <img class="helpPicture" src="img/Help3.png">
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			         data-target="#collapseFour">
			          How to edit a playlist?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<p>In the playlist detail page, you can edit its labels and keywords. Mood and genre label can be chosen from your customised label list, while you can input any keywords you want.</p>
			      	<p>Attention, all of them only support one word, and if you submit again, the old one will be replaced.</p>
			      	 <img class="helpPicture" src="img/Help4.png">
			      </div>
			    </div>
			  </div>

			   <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          data-target="#collapseFive">
			          How to create and remove my customized labels?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			       	<p>Click "Edit labels" in the menu, you can set your own label list. Input your favourite mood and genre and click "submit", it will be added to the list and will show in the homepage too.</p>
			       	<p>Click the existing labels, it will be removed from the list.</p>
			       	 <img class="helpPicture" src="img/Help5.png">
			      </div>
			    </div>
			  </div>

			</div>

	</div>


	<div class="col-md-4">
		<form action="" method="post" class="STYLE-NAME">
		<h4>Contact Us</h4>
		<span>If you have any question or suggestion about this application, please feel free to email us.</span>
		<hr>
		<label>
			<span>Mikael Juntti<span>
			<br>
			<a ng-href="mjuntti@kth.se">mjuntti@kth.se</a>
		</label>
		<hr>
		<label>
			<span>Yingjie Liang<span>
			<br>
			<a ng-href="yingjiel@kth.se">yingjiel@kth.se</a>
		</label>
		<hr>
		<label>
			<span>Ziying Zhang<span>
			<br>
			<a ng-href="ziying@kth.se">ziying@kth.se</a>
		</label>
		</form>
	</div>
</div>