body{
	background-color: #222;
	color:#85BC00;
}


/* SEARCH VIEW */
#genre-mood-container{
	text-align: center;
	width:610px;
	margin:auto;
}

#search-moods{
	display: inline-block;
	margin-bottom: 10px;
}

#search-genres{
	display: inline-block;
	margin-bottom: 10px;

}

.span-moods{
	background-color: #000;
	display: inline-block;
	margin:2px;
	padding:5px;
	font-weight:bold;
	font-size: 18px;
	color:#555;
}

.span-label{
	display: block;
	font-weight: bold;
}

.span-moods:hover{
	color:#fff;
	cursor:pointer;
}

.div-edited{
	background-color: yellow;
	margin-top: 162px;
	margin-left: 83px;
	position: absolute;
	width:5px;
	height:5px;
	border-width: 1px;
	border-color: #000;
	/*border-style: solid;*/
	border-radius: 5px;
	/*box-shadow: 1px 1px 5px #000;*/

		}

.form-control{
	background-color: #000;
	color:#fff;
	border-color:#aaa;
}

#home-screen{
	margin-top: 150px;
	text-align: center;
	color:#fff;
}

.login-btn{
	font-size: 24px;
	width:50%;
	height:50px;
	background-color:#85BC00;
	border-color: #000;
}

.login-btn:hover {
	width:50%;
	height:50px;
	background-color:#85BC99;
}

#header{
	height:60px;
	color:white;
	background-color: #000;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
}

.profile-pic{
	display:inline-block;
	height:85%;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#log-in{
	height:55px;
	display:inline-block;
	font-size: 16px;
	line-height: 60px;
}

#playlist-div{
	margin-left:10px;
	margin-bottom:10px;
	height:170px;
	width:170px;
	background-color: #ccc;
	background-size: 100%;
	display: inline-block;
	overflow: hidden;
}

#playlist-div-span{
	color: #fff;
	text-align: center;
	width:100%;
	line-height:40px;
	margin-top: 130px;
	background-color: rgba(0,0,0,0.8);
	display:block;
	font-size: 14px;
}



/* EDIT PLAYLIST VIEW */

#player-div{
	background-color: #000;
	overflow: hidden;
	padding-top:10px;
	text-align: center;
}

.editplaylist-title {
	color:#ccc;
}

.errormsg{
	font-size:22px;
	background-color: #ff0000;
	color:#fff;
}

.header-style1{
	padding:5px;
	font-size: 22px;
	background-color:#000;
	color:#fff;
}

#results, #suggested-results{
	margin-bottom: 10px;
}

.FollowBtn{
            text-align: right;
        }

        .followButton{


            
          line-height:50px;
          height:50px;
          width:150px;
          color:#ffffff;
          background-color:#3ba354;
          font-size:16px;
          font-weight:normal;
          font-family:Arial;
          border:1px solid #dcdcdc;
          -webkit-border-top-left-radius:8px;
          -moz-border-radius-topleft:8px;
          border-top-left-radius:8px;
          -webkit-border-top-right-radius:8px;
          -moz-border-radius-topright:8px;
          border-top-right-radius:8px;
          -webkit-border-bottom-left-radius:8px;
          -moz-border-radius-bottomleft:8px;
          border-bottom-left-radius:8px;
          -webkit-border-bottom-right-radius:8px;
          -moz-border-radius-bottomright:8px;
          border-bottom-right-radius:8px;
          -moz-box-shadow:1px 1px 2px 1px #ffffff;
          -webkit-box-shadow:1px 1px 2px 1px #ffffff;
          box-shadow:1px 1px 2px 1px #ffffff;
          text-align:center;
          display:inline-block;
          text-decoration:none;
        }
        .followButton:hover{
          background-color:#1c9439;
        }
        .BackButton{ 
            line-height:40px;
            height:40px;
            width:80px;
            color:#ffffff;
            background-color:#ededed;
            font-size:17px;
            font-weight:bold;
            font-family:Arial;
            background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #599bb3), color-stop(1, #408c99));
            background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
            border:0px solid #dcdcdc;
            -webkit-border-top-left-radius:8px;
            -moz-border-radius-topleft:8px;
            border-top-left-radius:8px;
            -webkit-border-top-right-radius:8px;
            -moz-border-radius-topright:8px;
            border-top-right-radius:8px;
            -webkit-border-bottom-left-radius:8px;
            -moz-border-radius-bottomleft:8px;
            border-bottom-left-radius:8px;
            -webkit-border-bottom-right-radius:8px;
            -moz-border-radius-bottomright:8px;
            border-bottom-right-radius:8px;
            -moz-box-shadow:0px 10px 14px -7px #276873;
            -webkit-box-shadow:0px 10px 14px -7px #276873;
            box-shadow:0px 10px 14px -7px #276873;
            text-align:center;
            display:inline-block;
            text-decoration:none;
        }
        .BackButton:hover {
            background-color:#f5f5f5;
            background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #408c99), color-stop(1, #599bb3));
            background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
            background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        }
        
        .hwq2button {  
    display: inline-block;  
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  
    *display: inline;  
    vertical-align: baseline;  
    margin: 0 2px;  
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;  
    font: 14px/100% Arial, Helvetica, sans-serif;  
    padding: .5em 2em .55em;  
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
    -webkit-border-radius: .5em;  
    -moz-border-radius: .5em;  
    border-radius: .5em;  
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    }  
    .hwq2button:hover {  
        text-decoration: none;  
    }  

    .hwq2button:active {  
        position: relative;  
        top: 1px;  
    }  

    .bigrounded {  
        -webkit-border-radius: 2em;  
        -moz-border-radius: 2em;  
        border-radius: 2em;  
    }  
    .white {  
    color: #606060;  
    border: solid 1px #b7b7b7;  
    background: #fff;  
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));  
    background: -moz-linear-gradient(top, #fff, #ededed);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');  
    }  

    .empty {    
    border: solid 1px #b7b7b7;
    color: #606060;    
    background: -moz-linear-gradient(top, #fff, #ededed);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');  
    }  

    .white:hover {  
        background: #ededed;  
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));  
        background: -moz-linear-gradient(top, #fff, #dcdcdc);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');  
    }  

    .white:active {  
        color: #999;  
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));  
        background: -moz-linear-gradient(top, #ededed, #fff);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');  
    }  
        .playlistPic{
            width: 60%;
        }
       .playlistPic:hover{
            width: 90%;
        }

        .sideList{
            overflow: scroll;
            height: 790px;
        }

