body{
	background-color: #222;
	color:#85BC00;
}


/* SEARCH VIEW */
#genre-mood-container{
	text-align: center;
	width:610px;
	margin:auto;
}

#search-moods{
	display: inline-block;
	margin-bottom: 10px;
}

#search-genres{
	display: inline-block;
	margin-bottom: 10px;

}

.span-moods{
	background-color: #000;
	display: inline-block;
	margin:2px;
	padding:5px;
	font-weight:bold;
	font-size: 18px;
	color:#555;
}

.span-label{
	display: block;
	font-weight: bold;
}

.span-moods:hover{
	color:#fff;
	cursor:pointer;
}

.div-edited{
	background-color: yellow;
	margin-top: 162px;
	margin-left: 83px;
	position: absolute;
	width:5px;
	height:5px;
	border-width: 1px;
	border-color: #000;
	/*border-style: solid;*/
	border-radius: 5px;
	/*box-shadow: 1px 1px 5px #000;*/

		}

.form-control{
	background-color: #000;
	color:#fff;
	border-color:#aaa;
}

#home-screen{
	margin-top: 150px;
	text-align: center;
	color:#fff;
}

.login-btn{
	font-size: 24px;
	width:50%;
	height:50px;
	background-color:#85BC00;
	border-color: #000;
}

.login-btn:hover {
	width:50%;
	height:50px;
	background-color:#85BC99;
}

#header{
	height:60px;
	color:white;
	background-color: #000;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: 1px;
}

.profile-pic{
	display:inline-block;
	height:85%;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#log-in{
	height:55px;
	display:inline-block;
	font-size: 16px;
	line-height: 60px;
}

#playlist-div{
	margin-left:10px;
	margin-bottom:10px;
	height:170px;
	width:170px;
	background-color: #ccc;
	background-size: 100%;
	display: inline-block;
	overflow: hidden;
}

#playlist-div-span{
	color: #fff;
	text-align: center;
	width:100%;
	line-height:40px;
	margin-top: 130px;
	background-color: rgba(0,0,0,0.8);
	display:block;
	font-size: 14px;
}



/* EDIT PLAYLIST VIEW */

#player-div{
	background-color: #000;
	overflow: hidden;
	padding-top:10px;
	text-align: center;
}

.editplaylist-title {
	color:#ccc;
}

.errormsg{
	font-size:22px;
	background-color: #ff0000;
	color:#fff;
}

.header-style1{
	padding:5px;
	font-size: 22px;
	background-color:#000;
	color:#fff;
}

#results, #suggested-results{
	margin-bottom: 10px;
}

